//Сбиваем автоматические свойства элементов, если не сбивает normalize
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    --webkit-box-shadow: 0 0 0px 1000px #fff inset;
}