<div class="container header__container">
  <a href="" class="logo__link js-logo__link" data-library data-logo>
    <svg class="logo__icon" width="24" height="24">
      <use href="././images/sprite.svg#icon-film"></use>
    </svg>
    <span class="logo__text">Filmoteka</span>
  </a>
  <ul class="header-nav js-header-nav" data-library>
    <li class="header-nav__item">
      <a
        href=""
        class="header-nav__link header-nav__link--active js-header-nav__link"
        data-homePage
        data-library
        >Home</a
      >
    </li>
    <li class="header-nav__item">
      <a href="" class="header-nav__link js-header-nav__link" data-libraryPage
        >my library</a
      >
    </li>
  </ul>
</div>
